#attachmentselect-wrapper{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
#attachment-gun-highlight{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
#attachment-select{
    display: flex;

}
.select{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}
#fakebutton{
    margin-top: 30px;
    cursor: pointer;
}

#firsthalf{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
#secondhalf{
    display: flex;
    flex-direction: column;
}